.flash-sale-home .swiper-wrapper {
  /* margin-top: 2rem; */

  @media screen and (max-width: 767px) {
    margin-top: 3rem;
  }
}

/* .flash-sale-home .swiper-pagination {
  width: 225px;
  height: 5px;
  background-color: #55d5d2;

  @media screen and (max-width: 767px) {
    width: 165px;
  }
} */

.flash-sale-home .swiper-pagination span {
  background: #f58f5d;
}

.flash-product button {
  background-color: #eef9f9 !important;
  box-shadow: none !important;
  color: #454545;
  padding: 0;
}
/* .flash-product svg {
  margin: 1rem;
} */

.flash-sale-tab .data-\[state\=active\]\:text-foreground[data-state='active'] {
  color: #55d5d2 !important;
  line-height: 120%;
}

.myTextEvent .swiper-wrapper {
  transition-timing-function: linear;
}

.item-collect-slide:hover .icon-arrow-right {
  opacity: 1;
  transition: all 0.4s ease;
}
.item-collect:hover .icon-arrow-right {
  transform: translateX(0);
  opacity: 1;
  transition: all 0.4s ease;
}
.item-collect-slide:hover .icon-arrow-right svg path,
.item-collect:hover .icon-arrow-right svg path {
  fill: #f58f5d;
}

.icon-arrow-right-active svg path {
  fill: #f58f5d;
}

.item-collect-slide:hover .category-collect,
.item-collect:hover .category-collect {
  color: #f58f5d;
}

.see-more:hover svg,
.see-more:hover p,
.feature-item:hover .feature-content {
  color: #f58f5d;
  transition: transform 0.2s ease-in;
}

.feature-item svg {
  transition: transform 0.2s ease-out;
  transform: translateX(-20px);
}

/* .feature-item:hover {
  border-top: 1px solid #f58f5d;
  transition: transform 0.2s ease-in;
} */

.feature-item:hover svg path {
  fill: #f58f5d;
  stroke: #f58f5d;
}

.feature-item:hover svg {
  transform: translateX(0px);
  transition: transform 0.2s ease-in;
}

.collect-more:hover {
  background-color: #f58f5d;
  cursor: pointer;
  color: #fff;
}

.collect-more:hover .collect-title,
.show-project-home:hover p {
  color: #fff;
}

.collect-more:hover circle {
  fill: #fff;
}

.show-project-home:hover svg path {
  fill: white;
  stroke: white;
}

.collect-more:hover rect {
  fill: #f58f5d;
}

.arrow-product-slide svg path {
  @media screen and (max-width: 767px) {
    stroke: #55c3c4;
  }
}

.about {
  background-image: url('../../../../public/img/home/about_bg.jpg');
  background-size: cover;
  min-height: 1333px;

  @media screen and (max-width: 1024px) {
    min-height: 1080px;
  }
}

.about .pin-spacer {
  height: 1300px !important;
}

.about-card-content {
  min-height: 500px;
  align-items: flex-start;
  justify-content: center;
  color: rgb(211, 211, 211);
  @media (min-width: 768px) and (max-width: 1024px) {
    min-height: auto;
  }
}

.about-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.about-content p {
  font-size: 2.2525rem;
  margin: 0px;
  margin-right: 0.5rem;
  font-weight: 700;
}

.about-content span {
  opacity: 0.2;
  color: #fff;
  @media screen and (max-width: 1024px) {
    opacity: 1;
  }
}

/* .mySwiper-about {
  height: 620px;

  @media screen and (max-width: 767px) {
    height: 400px;
  }
}

.mySwiper-about .swiper-slide {
  height: 580px;

  @media screen and (max-width: 767px) {
    height: 350px;
    border: none;
  }
} */

.search-about-slide:hover .arrow-about-slide {
  transition: transform 0.3s ease-in-out;
  transform: rotate(45deg);
}

.item-social:hover .image-item-slide,
.item-product-home-hover:hover .image-item-slide,
.blog-item-home:hover .image-item-blog {
  transform: scale(1.2);
}

.item-product-home {
  margin: 0px 4px 30px 0px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 767px) {
  .item-product-home {
    margin: 0px 4px 0px 0px;
  }
}

.item-product-home .arrow-product-slide,
.item-product-home .price-product-slide {
  transition: transform 0.2s ease-out;
}

.item-product-home-hover:hover .arrow-product-slide {
  transform: rotate(45deg);
  transition: transform 0.2s ease-out;
}

.item-product-home-hover:hover .price-product-slide {
  background: #f58f5d;
  transition: transform 0.2s ease-out;

  @media screen and (max-width: 767px) {
    color: #fff;
  }
}

.item-product-home-hover:hover .price-product-slide p,
.item-product-home-hover:hover .arrow-product-slide svg path {
  color: #fff;
  stroke: #fff;
}

.blog-item-home .image-item-blog {
  transition: all 0.3s;
}

.blog-item-home:hover .item-title-blog {
  color: #55d5d2;
  text-decoration: underline;
  transition: color 0.3s;
}

.item-btn-blog .line--more svg path {
  stroke: #55d5d2;
}
.item-btn-blog:hover .line--more {
  transition: transform 0.3s ease-in-out;
  transform: rotate(45deg);
}

.item-date-blog {
  transform: translateX(1rem);
  transition: transform 0.2s ease-out;
}

.item-btn-blog:hover + .item-date-blog {
  transform: translateX(0);
  transition: transform 0.2s ease-out;
  color: #f58f5d;
}

.action-home {
  background-image: url('../../../../public/img/home/image_1844.png');
  background-size: cover;
}

.item-actions {
  background: linear-gradient(
    94deg,
    rgba(0, 0, 0, 0.4) 3.25%,
    rgba(0, 0, 0, 0.4) 58.68%,
    rgba(0, 0, 0, 0.05) 100%
  );
  border-radius: 1.875rem 0rem 0rem 1.875rem;
  backdrop-filter: blur(2px);
}

/* .card-item-action {


  @media screen and (max-width: 767px) {
    border: none;
  }
} */

/* .mySwiper-action .swiper-slide {
  height: 33.5rem;

  @media screen and (max-width: 767px) {
    height: 60rem;
  }
} */

.banner-pagination .swiper-pagination-bullet {
  height: 2px;
}

.mySwiper-action .swiper-pagination {
  bottom: -6px !important;
}

.banner-pagination .swiper-pagination {
  bottom: 2.67 !important;
}
.banner-pagination .swiper-pagination-bullet,
.mySwiper-action .swiper-pagination-bullet {
  background: #fff;
  width: 12px;
  height: 4px;
  opacity: 1;
  border-radius: initial;
}
.banner-pagination .swiper-pagination-bullet-active,
.mySwiper-action .swiper-pagination-bullet-active {
  background: #f58f5d;
  width: 35px;
  border-radius: inherit;
  height: 4px;
}

.text-follow-shadow {
  color: #eef9f9;
  text-shadow: -1px 0 #55d5d2, 0 1px #55d5d2, 1px 0 #55d5d2, 0 -1px #55d5d2;
}

.line-container {
  position: relative;
  height: 2px;
  width: 25%;
  /* Chiều cao của đường line */
  background-color: #fff;
  /* Màu của đường line khi không chạy animation */

  opacity: 0.3;
  transition: ease-in-out 2s;
}

.story-1 {
  animation: colorChange1 5s linear forwards;
  animation-delay: 1s;
}

.story-2 {
  animation: colorChange2 5s linear forwards;
  animation-delay: 5s;
}

.story-3 {
  animation: colorChange3 5s linear forwards;
  animation-delay: 10s;
}

.story-4 {
  animation: colorChange4 5s linear forwards;
  animation-delay: 15s;
}

@keyframes colorChange1 {
  0% {
    width: 0;
    /* Bắt đầu từ chiều rộng là 0 */
    transition: ease-in-out 2s;
  }

  100% {
    transition: ease-in-out 2s;
    width: 100%;
    /* Kết thúc với chiều rộng là 100% */
    opacity: 1;
    background-color: #fff;
    /* Màu của đường line khi chạy đến cuối */
  }
}

@keyframes colorChange2 {
  0% {
    width: 0;
    /* Bắt đầu từ chiều rộng là 0 */
    transition: ease-in-out 2s;
  }

  100% {
    transition: ease-in-out 2s;
    width: 100%;
    /* Kết thúc với chiều rộng là 100% */
    opacity: 1;
    background-color: #fff;
    /* Màu của đường line khi chạy đến cuối */
  }
}

@keyframes colorChange3 {
  0% {
    width: 0;
    /* Bắt đầu từ chiều rộng là 0 */
    transition: ease-in-out 2s;
  }

  100% {
    transition: ease-in-out 2s;
    width: 100%;
    /* Kết thúc với chiều rộng là 100% */
    opacity: 1;
    background-color: #fff;
    /* Màu của đường line khi chạy đến cuối */
  }
}

@keyframes colorChange4 {
  0% {
    width: 0;
    /* Bắt đầu từ chiều rộng là 0 */
    transition: ease-in-out 2s;
  }

  100% {
    transition: ease-in-out 2s;
    width: 100%;
    /* Kết thúc với chiều rộng là 100% */
    opacity: 1;
    background-color: #fff;
    /* Màu của đường line khi chạy đến cuối */
  }
}
#swiper_social .swiper-wrapper {
  transition-timing-function: linear !important;
}
#box_q12 .swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
#box_q12 .swiper-pagination .swiper-pagination-bullet {
  height: 0.31825rem;
  width: 0.31825rem;
  border-radius: 50%;
  background-color: white;
  margin: auto 0.21rem;
}
#box_q12
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  height: 0.63656rem;
  width: 0.63656rem;
  background-color: #44aaa8;
  border: 1.5px solid white;
}

.about-mobile .swiper-pagination {
  display: none;
}

/*------ RESPONSIVE ------*/
@media screen and (max-width: 767px) {
  .about-card-content {
    min-height: initial;
  }
  .about-content p {
    font-size: 5rem;
    font-weight: 700;
    margin-right: 1.5rem;
  }
  .feature-item svg {
    transform: translateX(0);
    width: 6.5rem;
    height: 6.5rem;
  }
  .item-actions {
    border-radius: 5.26667rem;
  }
  .item-slide-action {
    margin-right: 1.6rem !important;
  }
  .icon-next-about svg {
    width: 6.3992rem;
    height: 6.4rem;
  }
  .flash-sale-tab button {
    padding: 0 3rem !important;
  }
}
@media screen and (max-width: 414px) {
  .flash-sale-tab button {
    padding: 0 1rem 0 1.5rem !important;
  }
}
