.policy svg {
  width: 10rem;
  height: 10rem;
}
.policy-page h5 {
  font-weight: 600;
  font-size: large;
}
.policy-page p {
  margin-bottom: 1.5rem;
}
.policy-page p a,
.policy-page p,
.policy-page ul {
  font-size: 1.2rem;
}
.policy-page p a {
  color: #007bff;
}

.policy-page h2 {
  font-size: 1.75rem;
  font-weight: 800;
  margin: 1.75rem 0;
}

.policy-page h3,
.policy-page h4,
.policy-page h5,
.policy-page h6 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
}

.policy-page ol li,
.policy-page ul li {
  margin-bottom: 1.2rem;
  margin-left: 1.75rem;
}

.policy-page ol {
  list-style-type: decimal;
  list-style-position: inside;
}

.policy-page ul {
  list-style-type: disc;
  list-style-position: inside;
}

.policy-page p,
.policy-page p strong {
  font-weight: 800;
}

@media screen and (max-width: 767px) {
  .policy-page p a,
  .policy-page p,
  .policy-page ul {
    font-size: 3.75rem;
    margin-bottom: 3.2rem;
  }
  .policy-page ul {
    font-size: 3.25rem;
  }
  .policy-page h5 {
    font-size: 4.25rem;
    font-size: 4rem;
  }

  .policy-page h2 {
    font-size: 4.75rem;
    font-weight: 800;
    margin: 3.75rem 0;
  }

  .policy-page h3,
  .policy-page h4,
  .policy-page h5,
  .policy-page h6 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 3.25rem;
  }

  .policy-page ol li,
  .policy-page ul li {
    margin-bottom: 3.2rem;
    margin-left: 3rem;
    font-size: 3.75rem;
  }

  .policy-page strong {
    font-size: 3.75rem;
    margin-bottom: 3.2rem;
  }
}
