.box-shadow-button {
  box-shadow: 0px 4px 8px 0px rgba(85, 213, 210, 0.1),
    0px 14px 14px 0px rgba(85, 213, 210, 0.09),
    0px 33px 20px 0px rgba(85, 213, 210, 0.05),
    0px 58px 23px 0px rgba(85, 213, 210, 0.01),
    0px 90px 25px 0px rgba(85, 213, 210, 0);
}

.quantity-product input {
  font-style: normal;
  font-weight: 800;
  line-height: 1.5rem; /* 1.5rem */
}

.box-khuyen-mai ul {
  list-style: none; 
  padding-left: 0;
}

.box-khuyen-mai ul li {
  position: relative;
  padding-left: 2rem; 
  margin-bottom: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  font-size: 1rem;
}

.box-khuyen-mai ul li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
  background: url('https://cms.kinhmatanna.com/wp-content/uploads/2024/08/star-svgrepo-com.png') no-repeat center center;
  background-size: contain;
}
@media (max-width: 768px) {
  .box-khuyen-mai ul li::before {
    width: 4rem;
    height: 4rem;
  }
  .box-khuyen-mai ul li {
    padding-left: 5rem; 
    font-size: 4rem;
    line-height: 4rem;
  }
}