@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .list-product-container .title-filter {
    @apply text-[1.5rem] font-bold leading-[2.25rem] not-italic;
  }

  .list-product-container .title-filter:not(:nth-child(1)) {
    @apply mt-[1.25rem];
  }

  .list-product-container .value-item-checkbox {
    @apply text-[1.125rem] not-italic leading-[2.25rem] font-light ml-[0.938rem];
  }

  .list-product-container .button-see-more svg {
    @apply fill-[#A9A9A9] transition-all duration-300;
  }
  .list-product-container .button-see-more svg path {
    @apply fill-[#A9A9A9] transition-all duration-300;
  }
  .list-product-container .button-see-more p {
    @apply text-[#A9A9A9] transition-all duration-300;
  }
  .list-product-container .button-see-more:hover svg {
    @apply fill-[#F58F5D];
  }
  .list-product-container .button-see-more:hover svg path {
    @apply fill-[#F58F5D];
  }
  .list-product-container .button-see-more:hover p {
    @apply text-[#F58F5D];
  }
}

.shadow-modal-mobile {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 8px 0px;
}

/* @layer components {
  .list-product-container .title-filter {
    @apply text-[1.5rem] font-extrabold not-italic leading-[1.25rem] mb-[1rem];
  }

  .list-product-container .title-filter:not(:nth-child(1)) {
    @apply mt-[1.25rem]  leading-[1.2rem] text-[1rem];
  }

  .list-product-container .value-item-checkbox {
    @apply text-[1rem] not-italic leading-[2.25rem] font-bold ml-[0.938rem];
  }
} */
